/* Header styles */
header {
    background-color: #1e2a38;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.nav {
    list-style: none;
    margin-right: 20px;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 16px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #fff;
}

/* Body styles */
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
}

.jumbotron {
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.jumbotron h2 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
}

/* Content styles */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

/* Footer styles */
footer {
    background-color: #1e2a38;
    color: #b0b0b0;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    border-top: 1px solid #333;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

/* Style for the dropdown button */
.dropdown-button {
    padding: 10px;
    cursor: pointer;
    background-color: #1e2a38;
    color: #fff;
    border: none;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
}

/* Style for the dropdown options */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f4f4f4;
}
